<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Drone Rental</title>

    {% load staticfiles %}
    <link href="{% static 'Drone_Rental/css/style.css' %}" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="{% static 'Drone_Rental/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Drone Rental</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="{% url 'drone-index' %}">Drones</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

        {% block title %}<h1>Drone Rental</h1>{% endblock title %}
        {% block content %}<p>This is the Drone Rental System</p>{% endblock %}

    </div><!-- /.container -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'Drone_Rental/js/bootstrap.min.js' %}"></script>

</body>
</html>